<!DOCTYPE html>
<html>
<title>차량 현황</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-blue w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:200px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="{{ url_for('static', filename='img/profile.jpg') }}" class="w3-circle w3-margin-right" style="width:100px">
    </div>
    <div class="w3-col s12 w3-bar" style="margin-top: 10%;">
      <span style="font-size: 110%;">안녕하세요, <strong>차헌님</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-table" style="font-size:24px; margin-top:5px; margin-bottom:5px;"></i>  야적 현황표</a>
    <a href="/chart" class="w3-bar-item w3-button w3-padding"><i class="fa fa-area-chart" style="font-size:24px; margin-top:5px; margin-bottom:5px;"></i>  야적 현황 도표</a>
    <a href="/history" class="w3-bar-item w3-button w3-padding"><i class="fa fa-file-text-o" style="font-size:24px; margin-top:5px; margin-bottom:5px;"></i>  기록 확인</a>
    <a href="/upload" class="w3-bar-item w3-button w3-padding"><i class="fa fa-upload" style="font-size:24px; margin-top:5px; margin-bottom:5px;"></i>  검수표 업로드</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


{% block contents %}
{% endblock contents %}

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
